.navigation-drawer {
    width: 256px;
    border-right: solid 1px var(--border-color);
}

.navigation-drawer__header {
    height: 56px;
    border-bottom: solid 1px var(--border-color);
    text-align: center;
    font-size: 1.25rem;
    line-height: 56px;
}

.nd-header__text {
    display: inline-block;
    margin-left: 4px;
}

.navigation-drawer__inner {
    width: 240px;
    margin: 0 auto;
}

.nd-card {
    margin-top: 16px;
    border: solid 1px var(--border-color);
}

.nd-card__heading {
    margin-left: 4px;
}

.nd-card__button {
    border: solid 1px red;
    border-radius: 10%;
    margin: 8px 0 8px 4px;
    padding-left: 4px;
    padding-right: 4px;
}